<div class="flex justify-center h-screen items-center overflow-hidden">
    <div class="container">
        <div class="cover" [ngClass]="{'route-active': isRegister}">

            <div class="front">
                    <img src="https://images.pexels.com/photos/1153369/pexels-photo-1153369.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""/>

                    <div class="text">
                        <div>
                            <span class="text-1">
                                Share, Savor, and Create: Your Recipe Haven Awaits!
                            </span>
                            <span>
                                Let's get connected
                            </span>
                        </div>
                    </div>
            </div>

            <div class="back">
                <img src="https://images.pexels.com/photos/8784807/pexels-photo-8784807.jpeg?auto=compress&cs=tinysrgb&w=400"/>
            </div>

        </div>

        <div class="form h=full">
            <div class="form-content h-full">
                <div class="login-form">
                    <h1 class="text-lg font-bold text-center pb-82">Signup</h1>
                </div>
            </div>
        </div>
    </div>
</div>